/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
	--white: #efefef;
	--transwhite: rgba(239, 239, 239, 0.7);
	--moretranswhite: rgba(239, 239, 239, 0.1);
	--black: #252525;
	--transblack: rgba(37, 37, 37, 0.7);
	--moretransblack: rgba(37, 37, 37, 0.1);
	--gray: #6b6b6b;
	--highlight: #e5ffc3;
	--red: #e4002b;
	--green: #24d05a;
	--pink: #eb4888;
	--blue: #10a2f5;
	--yellow: #e9bc3f;
	--sun: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23f39c12' width='24' height='24'%3E%3Cpath d='M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z'/%3E%3C/svg%3E");
    --moon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%3492c2' width='24' height='24'%3E%3Cpath fill-rule='evenodd' d='M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

::selection {
	background-color: var(--highlight);
	color: var(--black);
}
html,
body {
	margin: auto;
	padding: 20px;
	max-width: 70ch;
	/* background-color: var(--white); */
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--black);
}
html,
body,
button,
code {
	font-family: "iA Writer Mono", monospace;
}
h1,
strong,
b {
	color: var(--black);
}

body.dark-mode,
body.dark-mode button,
body.dark-mode h1,
body.dark-mode .go-home,
button.dark-mode,
button.dark-mode button {
	background: var(--black);
	color: var(--white);
}
body.dark-mode nav {
	background: var(--transblack);
}

.tag-title {
	font-weight: 400;
	color: var(--black);
}

[data-theme="light"] {
	::selection {
		background-color: var(--highlight);
		color: var(--black);
	}
	:root {
		--gray: #a4a4a4;
	}
	html {
		background-color: var(--white);
	}
	html,
	body,
	body button,
	body h1,
	body strong,
	body b,
	body em,
	body blockquote,
	body .go-home {
		background: var(--white);
		color: var(--black);
	}
	body nav {
		background: var(--transwhite);
	}
	body code {
		background-color: var(--moretransblack);
	}
	body a {
		color: var(--black);
	}
	body .tag {
		color: var(--gray);
	}
	.tag-title {
		color: var(--black);
	}
}

[data-theme="dark"] {
	::selection {
		background-color: #0f0f0f;
		color: var(--white);
	}
	:root {
		--gray: #a4a4a4;
	}
	html {
		background-color: var(--black);
	}
	html,
	body,
	body button,
	body h1,
	body strong,
	body b,
	body em,
	body blockquote,
	body .go-home {
		background: var(--black);
		color: var(--white);
	}
	body nav {
		background: var(--transblack);
	}
	body code {
		background-color: var(--moretranswhite);
	}
	body a {
		color: var(--white);
	}
	body .tag {
		color: var(--gray);
	}
	.tag-title {
		color: var(--white);
	}
}

.switch {
	position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

.switch input {
	opacity: 0;
    width: 0;
    height: 0;
	display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.slider:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s;
}

[data-theme="light"] {
	.slider:before {
		transform: translateX(0);
		background-image: var(--sun);
	}
	.slider:after {
		transform: translateX(26px);
	}
}

[data-theme="dark"] {
	.slider:before {
		transform: translateX(26px);
		background-image: var(--moon);
	}
	.slider:after {
		transform: translateX(0);
	}
}

h2,
h3,
h4,
h5,
h6 {
	color: var(--gray);
	line-height: 1.1;
}

header {
	position: relative;
}

a {
	color: var(--black);
	text-decoration-thickness: 0.3ex;
	text-underline-offset: 0.3ex;
}

nav {
	position: sticky;
	top: 0;
	text-align: center;
	background: var(--transwhite);
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
}

nav a {
	margin: 25px 0;
}
nav a:not(:last-child) {
	padding: 0 12px 0 0;
}

hr {
	border-top: 1px solid var(--gray);
	margin: 1rem 0;
}

ul.posts-list,
ul.tags-list {
	padding: unset;
	list-style-type: none;
}

.post {
	margin: 0 0 30px 0;
}

.post .title {
	font-size: 1.3em;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tag {
	display: inline-block;
	margin-right: 20px;
	color: var(--black);
	font-size: 0.8rem;
}
.tag:hover {
	cursor: pointer;
	font-weight: bold;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
main,
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: var(--moretransblack);
	font-weight: bold;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid var(--gray);
	color: var(--black);
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 400;
}

h3 {
	text-align: center;
}

.center {
	text-align: center;
}

.header-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.header-frame {
	max-width: 350px;
}

article :not(.article-title) {
	line-height: 1.8;
}

.article-title {
	font-size: 2em;
	margin: 0.25em 0;
}

.blog-post {
	font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
}

.blog-post > * + * {
	margin-block-start: 1em;
}

time {
	font-style: italic;
	color: var(--gray);
}

ul li time {
	white-space: nowrap;
}

@media (max-width: 600px) {
	nav a:not(:last-child) {
		padding: 0;
	}
}
