---
const today = new Date();
---

<footer>
	Site template by <a href="https://cassidoo.co">cassidoo</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
