---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { Icon } from 'astro-icon/components'
import "../style/toggle.css"
---

<header>
	<label class="switch">
		<input type="checkbox" checked>
		<span class="slider round"></span>
	</label>

	<div class="header-section">
		<div class="header-frame">
			<h1>{SITE_TITLE}</h1>
			<h2>{SITE_DESCRIPTION}</h2>
		</div>
	</div>
</header>
<nav>
	<HeaderLink href="/">home</HeaderLink>
	<HeaderLink href="/posts">posts</HeaderLink>
	<HeaderLink href="https://github.com/kalpitf1">github</HeaderLink>
	<HeaderLink href="http://linkedin.com/in/kalpit-f/">linkedin</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
